In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import os
import seaborn as sns
import category_encoders as ce

In [2]:
print('\n'.join(os.listdir("data")))

bureau_balance.csv
application_train.csv
bureau.csv
HomeCredit_columns_description.csv
credit_card_balance.csv
installments_payments.csv
POS_CASH_balance.csv
sample_submission.csv
previous_application.csv
application_test.csv

In [3]:
application_train = pd.read_csv('data/application_train.csv')
POS_CASH_balance = pd.read_csv('data/POS_CASH_balance.csv')
bureau_balance = pd.read_csv('data/bureau_balance.csv')
previous_application = pd.read_csv('data/previous_application.csv')
installments_payments = pd.read_csv('data/installments_payments.csv')
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')
bureau = pd.read_csv('data/bureau.csv')
application_test = pd.read_csv('data/application_test.csv')

In [4]:
column_description = pd.read_csv('data/HomeCredit_columns_description.csv', encoding="ISO-8859-1")

In [5]:
pd.set_option('display.max_colwidth', -1)
#print(column_description[column_description['Row'] == 'TARGET']['Description'])
#print()
column_description.head(130)

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,"Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)",NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the goods for which the loan is given,NaN
11,14,application_{train|test}.csv,NAME_TYPE_SUITE,Who was accompanying client when he was applying for the loan,NaN
12,15,application_{train|test}.csv,NAME_INCOME_TYPE,"Clients income type (businessman, working, maternity leave,Â…)",NaN
13,16,application_{train|test}.csv,NAME_EDUCATION_TYPE,Level of highest education the client achieved,NaN
14,17,application_{train|test}.csv,NAME_FAMILY_STATUS,Family status of the client,NaN
15,18,application_{train|test}.csv,NAME_HOUSING_TYPE,"What is the housing situation of the client (renting, living with parents, ...)",NaN
16,19,application_{train|test}.csv,REGION_POPULATION_RELATIVE,Normalized population of region where client lives (higher number means the client lives in more populated region),normalized
17,20,application_{train|test}.csv,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
18,21,application_{train|test}.csv,DAYS_EMPLOYED,How many days before the application the person started current employment,time only relative to the application
19,22,application_{train|test}.csv,DAYS_REGISTRATION,How many days before the application did client change his registration,time only relative to the application
20,23,application_{train|test}.csv,DAYS_ID_PUBLISH,How many days before the application did client change the identity document with which he applied for the loan,time only relative to the application
21,24,application_{train|test}.csv,OWN_CAR_AGE,Age of client's car,NaN
22,25,application_{train|test}.csv,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",NaN
23,26,application_{train|test}.csv,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",NaN
24,27,application_{train|test}.csv,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
25,28,application_{train|test}.csv,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",NaN
26,29,application_{train|test}.csv,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
27,30,application_{train|test}.csv,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",NaN
28,31,application_{train|test}.csv,OCCUPATION_TYPE,What kind of occupation does the client have,NaN
29,32,application_{train|test}.csv,CNT_FAM_MEMBERS,How many family members does client have,NaN
...,...,...,...,...,...
100,103,application_{train|test}.csv,FLAG_DOCUMENT_6,Did client provide document 6,NaN
101,104,application_{train|test}.csv,FLAG_DOCUMENT_7,Did client provide document 7,NaN
102,105,application_{train|test}.csv,FLAG_DOCUMENT_8,Did client provide document 8,NaN
103,106,application_{train|test}.csv,FLAG_DOCUMENT_9,Did client provide document 9,NaN
104,107,application_{train|test}.csv,FLAG_DOCUMENT_10,Did client provide document 10,NaN
105,108,application_{train|test}.csv,FLAG_DOCUMENT_11,Did client provide document 11,NaN
106,109,application_{train|test}.csv,FLAG_DOCUMENT_12,Did client provide document 12,NaN
107,110,application_{train|test}.csv,FLAG_DOCUMENT_13,Did client provide document 13,NaN
108,111,application_{train|test}.csv,FLAG_DOCUMENT_14,Did client provide document 14,NaN
109,112,application_{train|test}.csv,FLAG_DOCUMENT_15,Did client provide document 15,NaN
110,113,application_{train|test}.csv,FLAG_DOCUMENT_16,Did client provide document 16,NaN
111,114,application_{train|test}.csv,FLAG_DOCUMENT_17,Did client provide document 17,NaN
112,115,application_{train|test}.csv,FLAG_DOCUMENT_18,Did client provide document 18,NaN
113,116,application_{train|test}.csv,FLAG_DOCUMENT_19,Did client provide document 19,NaN
114,117,application_{train|test}.csv,FLAG_DOCUMENT_20,Did client provide document 20,NaN
115,118,application_{train|test}.csv,FLAG_DOCUMENT_21,Did client provide document 21,NaN
116,119,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_HOUR,Number of enquiries to Credit Bureau about the client one hour before application,NaN
117,120,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the client one day before application (excluding one hour before application),NaN
118,121,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the client one week before application (excluding one day before application),NaN
119,122,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the client one month before application (excluding one week before application),NaN
120,123,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the client 3 month before application (excluding one month before application),NaN
121,124,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the client one day year (excluding last 3 months before application),NaN
122,125,bureau.csv,SK_ID_CURR,"ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau",hashed
123,126,bureau.csv,SK_BUREAU_ID,Recoded ID of previous Credit Bureau credit related to our loan (unique coding for each loan application),hashed
124,127,bureau.csv,CREDIT_ACTIVE,Status of the Credit Bureau (CB) reported credits,NaN
125,128,bureau.csv,CREDIT_CURRENCY,Recoded currency of the Credit Bureau credit,recoded
126,129,bureau.csv,DAYS_CREDIT,How many days before current application did client apply for Credit Bureau credit,time only relative to the application
127,130,bureau.csv,CREDIT_DAY_OVERDUE,Number of days past due on CB credit at the time of application for related loan in our sample,NaN
128,131,bureau.csv,DAYS_CREDIT_ENDDATE,Remaining duration of CB credit (in days) at the time of application in Home Credit,time only relative to the application
129,132,bureau.csv,DAYS_ENDDATE_FACT,Days since CB credit ended at the time of application in Home Credit (only for closed credit),time only relative to the application

In [6]:
print('Size of application_train data', application_train.shape)
print('Size of application_test data', application_test.shape)
print('Size of POS_CASH_balance data', POS_CASH_balance.shape)
print('Size of bureau_balance data', bureau_balance.shape)
print('Size of previous_application data', previous_application.shape)
print('Size of installments_payments data', installments_payments.shape)
print('Size of credit_card_balance data', credit_card_balance.shape)
print('Size of bureau data', bureau.shape)

Size of application_train data (307511, 122)
Size of application_test data (48744, 121)
Size of POS_CASH_balance data (10001358, 8)
Size of bureau_balance data (27299925, 3)
Size of previous_application data (1670214, 37)
Size of installments_payments data (13605401, 8)
Size of credit_card_balance data (3840312, 23)
Size of bureau data (1716428, 17)

# Check Missing Value

In [7]:
def checkMissing(dataframe=application_train):
    total = dataframe.isnull().sum().sort_values(ascending=False)
    percent = (dataframe.isnull().sum()/dataframe.isnull().count()*100).sort_values(ascending=False)
    missing_dataframe_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
#     missing_dataframe_data.head(numtoshow)
    return missing_dataframe_data

In [8]:
checkMissing(application_train).head(70)

                               Total    Percent
COMMONAREA_MEDI               214865  69.872297
COMMONAREA_AVG                214865  69.872297
COMMONAREA_MODE               214865  69.872297
NONLIVINGAPARTMENTS_MODE      213514  69.432963
NONLIVINGAPARTMENTS_MEDI      213514  69.432963
NONLIVINGAPARTMENTS_AVG       213514  69.432963
FONDKAPREMONT_MODE            210295  68.386172
LIVINGAPARTMENTS_MEDI         210199  68.354953
LIVINGAPARTMENTS_MODE         210199  68.354953
LIVINGAPARTMENTS_AVG          210199  68.354953
FLOORSMIN_MEDI                208642  67.848630
FLOORSMIN_MODE                208642  67.848630
FLOORSMIN_AVG                 208642  67.848630
YEARS_BUILD_MEDI              204488  66.497784
YEARS_BUILD_AVG               204488  66.497784
YEARS_BUILD_MODE              204488  66.497784
OWN_CAR_AGE                   202929  65.990810
LANDAREA_MODE                 182590  59.376738
LANDAREA_AVG                  182590  59.376738
LANDAREA_MEDI                 182590  59.376738
BASEMENTAREA_MEDI             179943  58.515956
BASEMENTAREA_AVG              179943  58.515956
BASEMENTAREA_MODE             179943  58.515956
EXT_SOURCE_1                  173378  56.381073
NONLIVINGAREA_MEDI            169682  55.179164
NONLIVINGAREA_AVG             169682  55.179164
NONLIVINGAREA_MODE            169682  55.179164
ELEVATORS_MODE                163891  53.295980
ELEVATORS_AVG                 163891  53.295980
ELEVATORS_MEDI                163891  53.295980
...                              ...        ...
HOUSETYPE_MODE                154297  50.176091
FLOORSMAX_MODE                153020  49.760822
FLOORSMAX_MEDI                153020  49.760822
FLOORSMAX_AVG                 153020  49.760822
YEARS_BEGINEXPLUATATION_MEDI  150007  48.781019
YEARS_BEGINEXPLUATATION_AVG   150007  48.781019
YEARS_BEGINEXPLUATATION_MODE  150007  48.781019
TOTALAREA_MODE                148431  48.268517
EMERGENCYSTATE_MODE           145755  47.398304
OCCUPATION_TYPE               96391   31.345545
EXT_SOURCE_3                  60965   19.825307
AMT_REQ_CREDIT_BUREAU_QRT     41519   13.501631
AMT_REQ_CREDIT_BUREAU_YEAR    41519   13.501631
AMT_REQ_CREDIT_BUREAU_WEEK    41519   13.501631
AMT_REQ_CREDIT_BUREAU_MON     41519   13.501631
AMT_REQ_CREDIT_BUREAU_DAY     41519   13.501631
AMT_REQ_CREDIT_BUREAU_HOUR    41519   13.501631
NAME_TYPE_SUITE               1292    0.420148
OBS_30_CNT_SOCIAL_CIRCLE      1021    0.332021
OBS_60_CNT_SOCIAL_CIRCLE      1021    0.332021
DEF_60_CNT_SOCIAL_CIRCLE      1021    0.332021
DEF_30_CNT_SOCIAL_CIRCLE      1021    0.332021
EXT_SOURCE_2                  660     0.214626
AMT_GOODS_PRICE               278     0.090403
AMT_ANNUITY                   12      0.003902
CNT_FAM_MEMBERS               2       0.000650
DAYS_LAST_PHONE_CHANGE        1       0.000325
AMT_CREDIT                    0       0.000000
FLAG_OWN_CAR                  0       0.000000
FLAG_EMAIL                    0       0.000000

[70 rows x 2 columns]

In [9]:
checkMissing(POS_CASH_balance).head(3)

                       Total   Percent
CNT_INSTALMENT_FUTURE  26087  0.260835
CNT_INSTALMENT         26071  0.260675
SK_DPD_DEF             0      0.000000

In [10]:
checkMissing(bureau_balance).head(3)

                Total  Percent
STATUS          0      0.0
MONTHS_BALANCE  0      0.0
SK_ID_BUREAU    0      0.0

In [11]:
checkMissing(previous_application).head(17)

                             Total    Percent
RATE_INTEREST_PRIVILEGED   1664263  99.643698
RATE_INTEREST_PRIMARY      1664263  99.643698
RATE_DOWN_PAYMENT          895844   53.636480
AMT_DOWN_PAYMENT           895844   53.636480
NAME_TYPE_SUITE            820405   49.119754
DAYS_TERMINATION           673065   40.298129
NFLAG_INSURED_ON_APPROVAL  673065   40.298129
DAYS_FIRST_DRAWING         673065   40.298129
DAYS_FIRST_DUE             673065   40.298129
DAYS_LAST_DUE_1ST_VERSION  673065   40.298129
DAYS_LAST_DUE              673065   40.298129
AMT_GOODS_PRICE            385515   23.081773
AMT_ANNUITY                372235   22.286665
CNT_PAYMENT                372230   22.286366
PRODUCT_COMBINATION        346      0.020716
AMT_CREDIT                 1        0.000060
SK_ID_CURR                 0        0.000000

In [12]:
checkMissing(installments_payments).head(3)

                    Total   Percent
AMT_PAYMENT         2905   0.021352
DAYS_ENTRY_PAYMENT  2905   0.021352
AMT_INSTALMENT      0      0.000000

In [13]:
checkMissing(credit_card_balance).head(10)

                             Total    Percent
AMT_PAYMENT_CURRENT         767988  19.998063
AMT_DRAWINGS_OTHER_CURRENT  749816  19.524872
CNT_DRAWINGS_POS_CURRENT    749816  19.524872
CNT_DRAWINGS_OTHER_CURRENT  749816  19.524872
CNT_DRAWINGS_ATM_CURRENT    749816  19.524872
AMT_DRAWINGS_ATM_CURRENT    749816  19.524872
AMT_DRAWINGS_POS_CURRENT    749816  19.524872
CNT_INSTALMENT_MATURE_CUM   305236  7.948208
AMT_INST_MIN_REGULARITY     305236  7.948208
SK_DPD_DEF                  0       0.000000

In [14]:
checkMissing(bureau).head(8)

                          Total    Percent
AMT_ANNUITY             1226791  71.473490
AMT_CREDIT_MAX_OVERDUE  1124488  65.513264
DAYS_ENDDATE_FACT       633653   36.916958
AMT_CREDIT_SUM_LIMIT    591780   34.477415
AMT_CREDIT_SUM_DEBT     257669   15.011932
DAYS_CREDIT_ENDDATE     105553   6.149573
AMT_CREDIT_SUM          13       0.000757
CREDIT_TYPE             0        0.000000

# TargetEncoding

In [28]:
def getencoder_with_target_encoder(dataframe, target_label):
    col_to_encode = [col for col in dataframe if dataframe[col].dtype == 'object']
    encoder = ce.TargetEncoder(cols=col_to_encode)
    enc = encoder.fit(dataframe, target_label)
    return enc

In [34]:
getencoder_with_target_encoder(application_train, application_train['TARGET']).transform(application_train)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0.083459,0.101419,0.085002,0.079616,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0.083459,0.069993,0.085002,0.083249,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,0.054783,0.101419,0.072437,0.079616,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0.083459,0.069993,0.085002,0.079616,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0.083459,0.101419,0.085002,0.079616,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,0.083459,0.101419,0.085002,0.079616,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,0.083459,0.069993,0.072437,0.079616,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,0.083459,0.101419,0.072437,0.079616,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,0.083459,0.069993,0.085002,0.079616,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,0.054783,0.101419,0.085002,0.079616,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,0.083459,0.069993,0.085002,0.079616,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,0.083459,0.069993,0.085002,0.079616,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,0.083459,0.069993,0.085002,0.079616,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,0.083459,0.101419,0.072437,0.083249,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,0.083459,0.069993,0.085002,0.079616,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,0.083459,0.101419,0.072437,0.079616,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,0.083459,0.101419,0.085002,0.083249,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,0.054783,0.069993,0.085002,0.079616,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,0.054783,0.069993,0.085002,0.079616,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,0.083459,0.069993,0.085002,0.079616,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,0.054783,0.101419,0.072437,0.079616,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,0.083459,0.069993,0.072437,0.079616,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,0.083459,0.069993,0.085002,0.083249,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,0.083459,0.069993,0.085002,0.079616,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,0.083459,0.101419,0.072437,0.083249,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,0.083459,0.069993,0.085002,0.079616,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,0.083459,0.069993,0.085002,0.079616,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,0.083459,0.101419,0.085002,0.079616,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,0.083459,0.101419,0.072437,0.079616,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,0.054783,0.101419,0.085002,0.079616,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,0.083459,0.101419,0.085002,0.079616,0,225000.000,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,0.083459,0.069993,0.072437,0.079616,0,225000.000,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307483,456227,0,0.083459,0.069993,0.085002,0.079616,0,99000.000,247275.0,16479.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307484,456228,0,0.083459,0.069993,0.072437,0.083249,0,540000.000,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307485,456229,0,0.054783,0.069993,0.085002,0.079616,1,270000.000,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,456230,0,0.083459,0.069993,0.072437,0.079616,1,292500.000,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307487,456231,0,0.083459,0.101419,0.085002,0.079616,0,117000.000,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307488,456232,0,0.083459,0.069993,0.085002,0.083249,0,157500.000,135000.0,13351.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307489,456233,1,0.083459,0.069993,0.085002,0.079616,0,225000.000,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307490,456234,0,0.083459,0.101419,0.085002,0.079616,0,81000.000,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,0.083459,0.101419,0.072437,0.079616,2,90000.000,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,0.083459,0.101419,0.072437,0.079616,0,585000.000,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,456237,0,0.083459,0.069993,0.085002,0.079616,0,135000.000,946764.0,37678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307494,456238,0,0.083459,0.101419,0.072437,0.083249,1,270000.000,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,0.083459,0.101419,0.072437,0.083249,0,180000.000,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,456240,0,0.054783,0.069993,0.085002,0.083249,0,360000.000,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,0.083459,0.069993,0.072437,0.079616,0,180000.000,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,456242,0,0.083459,0.101419,0.072437,0.079616,0,198000.000,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307499,456243,0,0.083459,0.069993,0.085002,0.079616,0,81000.000,225000.0,12694.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307500,456244,0,0.083459,0.069993,0.085002,0.079616,0,261000.000,1303812.0,35982.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307501,456245,0,0.083459,0.069993,0.085002,0.079616,3,81000.000,269550.0,11871.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,456246,0,0.083459,0.069993,0.085002,0.079616,1,94500.000,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,0.083459,0.069993,0.085002,0.079616,0,112500.000,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,0.083459,0.069993,0.085002,0.079616,0,153000.000,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,0.083459,0.069993,0.085002,0.079616,0,112500.000,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,0.083459,0.101419,0.085002,0.083249,0,157500.000,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,0.083459,0.069993,0.085002,0.079616,0,72000.000,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,0.083459,0.069993,0.085002,0.079616,0,153000.000,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,0.083459,0.069993,0.085002,0.079616,0,171000.000,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,0.083459,0.069993,0.085002,0.083249,0,157500.000,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [35]:
getencoder_with_target_encoder(application_train.drop(columns=['TARGET']), application_train['TARGET']).transform(application_test)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,0.083459,0.069993,0.085002,0.079616,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,0.083459,0.101419,0.085002,0.079616,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,0.083459,0.101419,0.072437,0.079616,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,0.083459,0.069993,0.085002,0.079616,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,0.083459,0.101419,0.072437,0.083249,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,100042,0.083459,0.069993,0.072437,0.079616,0,270000.0,959688.0,34600.5,810000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
6,100057,0.083459,0.101419,0.072437,0.079616,2,180000.0,499221.0,22117.5,373500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
7,100065,0.083459,0.101419,0.085002,0.079616,0,166500.0,180000.0,14220.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
8,100066,0.083459,0.069993,0.085002,0.079616,0,315000.0,364896.0,28957.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
9,100067,0.083459,0.069993,0.072437,0.079616,1,162000.0,45000.0,5337.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
10,100074,0.083459,0.069993,0.085002,0.079616,0,67500.0,675000.0,25447.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
11,100090,0.083459,0.069993,0.085002,0.079616,0,135000.0,261621.0,16848.0,216000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
12,100091,0.083459,0.069993,0.085002,0.079616,0,247500.0,296280.0,23539.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
13,100092,0.083459,0.069993,0.072437,0.079616,0,90000.0,360000.0,18535.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
14,100106,0.054783,0.101419,0.085002,0.079616,0,180000.0,157500.0,7875.0,157500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
15,100107,0.083459,0.101419,0.072437,0.079616,0,180000.0,296280.0,21690.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
16,100109,0.083459,0.069993,0.072437,0.079616,0,202500.0,407520.0,26041.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
17,100117,0.083459,0.101419,0.072437,0.079616,0,90000.0,499221.0,22117.5,373500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
18,100128,0.083459,0.069993,0.072437,0.079616,1,225000.0,431280.0,23526.0,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,4.0
19,100141,0.083459,0.069993,0.072437,0.079616,0,175500.0,478498.5,46741.5,454500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20,100150,0.083459,0.069993,0.085002,0.079616,0,99000.0,225000.0,19242.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
21,100168,0.083459,0.069993,0.085002,0.079616,0,157500.0,266652.0,16443.0,202500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
22,100169,0.083459,0.069993,0.085002,0.079616,0,135000.0,540000.0,27702.0,540000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
23,100170,0.083459,0.101419,0.085002,0.079616,1,337500.0,1313212.5,42493.5,1012500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
24,100171,0.083459,0.101419,0.072437,0.079616,0,157500.0,539100.0,29245.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
25,100172,0.083459,0.069993,0.085002,0.079616,0,76500.0,225000.0,12334.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
26,100184,0.083459,0.069993,0.085002,0.079616,0,112500.0,256032.0,10759.5,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
27,100187,0.083459,0.069993,0.085002,0.079616,0,225000.0,501363.0,25726.5,418500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100212,0.083459,0.069993,0.072437,0.083249,0,90000.0,450000.0,23107.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
29,100222,0.083459,0.069993,0.072437,0.079616,0,360000.0,945000.0,34074.0,945000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963,0.083459,0.069993,0.085002,0.083249,1,360000.0,547272.0,43366.5,495000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
48715,455965,0.083459,0.101419,0.072437,0.079616,0,315000.0,900000.0,57519.0,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48716,456007,0.083459,0.101419,0.085002,0.079616,0,135000.0,318645.0,16398.0,216000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48717,456008,0.083459,0.069993,0.085002,0.079616,0,81000.0,180000.0,13455.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
48718,456009,0.083459,0.069993,0.085002,0.079616,0,225000.0,360000.0,19530.0,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48719,456010,0.083459,0.069993,0.085002,0.079616,1,112500.0,690313.5,35374.5,549000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48720,456011,0.083459,0.069993,0.072437,0.079616,1,171000.0,323460.0,23134.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48721,456013,0.083459,0.069993,0.085002,0.079616,1,130500.0,468333.0,37129.5,382500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
48722,456028,0.083459,0.101419,0.085002,0.079616,0,220500.0,166500.0,13284.0,166500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
48723,456058,0.083459,0.069993,0.085002,0.083249,1,67500.0,315000.0,16213.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
48724,456111,0.083459,0.069993,0.085002,0.079616,1,112500.0,514710.0,17707.5,387000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48725,456114,0.083459,0.069993,0.085002,0.083249,0,45000.0,450000.0,24543.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
48726,456115,0.083459,0.101419,0.085002,0.079616,1,225000.0,1002339.0,37917.0,846000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
48727,456116,0.083459,0.069993,0.085002,0.083249,1,180000.0,149256.0,15291.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48728,456119,0.083459,0.069993,0.085002,0.079616,0,247500.0,685386.0,38398.5,585000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
48729,456120,0.083459,0.069993,0.085002,0.083249,2,81000.0,135000.0,16020.0,135000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48730,456122,0.083459,0.101419,0.072437,0.083249,2,157500.0,445095.0,40824.0,405000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
48731,456123,0.083459,0.069993,0.072437,0.079616,0,112500.0,450000.0,28890.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
48732,456166,0.083459,0.069993,0.085002,0.079616,0,189000.0,479700.0,54382.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
48733,456167,0.083459,0.069993,0.085002,0.079616,0,135000.0,1047771.0,37764.0,904500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48734,456168,0.083459,0.069993,0.085002,0.079616,0,135000.0,835686.0,46660.5,765000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
48735,456169,0.083459,0.069993,0.085002,0.083249,0,85500.0,109008.0,7411.5,90000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48736,456170,0.083459,0.069993,0.072437,0.079616,0,157500.0,500490.0,48888.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48737,456189,0.083459,0.069993,0.085002,0.079616,0,270000.0,360000.0,28570.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
48738,456202,0.083459,0.069993,0.072437,0.083249,3,135000.0,252022.5,23112.0,217561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
48739,456221,0.083459,0.069993,0.085002,0.079616,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,0.083459,0.069993,0.085002,0.083249,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,0.083459,0.069993,0.072437,0.079616,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,0.083459,0.101419,0.085002,0.083249,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,0.083459,0.069993,0.072437,0.083249,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0